- include_javascript 'admin/dragdrop'
- include_javascript 'rbac/admin/role_details'
- include_stylesheet 'rbac/rbac'
- @body_classes ||= [].tap{|a| a << 'reversed'}
%h1= @role.role_name
%script{:language => "javascript"}
  = "var role_id = #{@role.id};"
%p= t('rbac_base.drag_and_drop_users')
%h2= t('rbac_base.active_users')
%ul#taken_users.UserList{:multiple => "multiple"}
  %li#busy_taken.rbac_busy_marker= role_spinner 'taken'

%h2= t('rbac_base.available_users')
%ul#available_users.UserList{:multiple => "multiple"}
  %li#busy_available.rbac_busy_marker= role_spinner 'available'

%h3= t('rbac_base.edit_role_details')
.form-area
  - form_for @role, :url => admin_role_path(@role) do |f|
    %p.title
      = f.label :description, t('description')
      = f.text_field :description, :class => 'textbox'
    %p
      = f.check_box :allow_empty, :class => 'checkbox'
      = f.label :allow_empty, t("rbac_base.allow_this_role_to_have_no_users"), :class => 'checkbox'
    %p
      = save_model_button(@role)
      = t('or')
      = link_to t('cancel'), admin_roles_path()