.outset
  %table.index
    %thead
      %tr
        %th= t('name')
        %th= "# #{t('users')}"
        %th= t('description')
        %th= t('modify')
    %tbody
      - unless @roles.blank?
        - @roles.each do |role|
          %tr
            %td= link_to role.role_name, admin_role_path(role)
            %td= role.users.count
            %td= role.description
            %td.remove
              - unless role.standard?
                = link_to t('remove'), admin_role_path(role), :confirm => "Roles are defined as a security mechanism for the extensions that are restricted by user role. User roles are normally added by these extensions at installation time. Removing roles may cause problems with the role based security. Only remove roles if you know what you are doing!", :method => :delete
      - else
        %tr
          %td{ :colspan => 4}= t('rbac_base.no_roles_yet')
  #actions
    %ul
      %li= render :partial => 'add_role_form'
  - include_stylesheet 'rbac/rbac'