- include_javascript 'rbac/admin/role_details'
- include_stylesheet 'rbac/rbac'
- include_javascript 'dragdrop'
%h1= "Role: #{@role.role_name}"
%script{:language => "javascript"}
  = "var role_id = #{@role.id};"
%p Drag and drop users between the lists below to add or remove them from this role. The changes that you make will take effect immediately.
%h2
  Active Users
  = role_spinner 'taken'
%ul#taken_users.UserList{:multiple => "multiple"}

%h2
  Available Users
  = role_spinner 'available'
%ul#available_users.UserList{:multiple => "multiple"}

%h3 Edit Role Details
.form-area
  - form_for @role, :url => admin_role_path(@role) do |f|
    %p.title
      = f.label :description
      = f.text_field :description, :class => 'textbox'
    %p
      = f.check_box :allow_empty
      = f.label :allow_empty, "Allow this role to have no users."
    %p
      = f.submit
      or
      = link_to "Cancel", admin_roles_path()